html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
    color: #560300
}

html {
    font-family: "Noto Sans TC";
}

header {
    background-color: #AA0601;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 30px 88px;
}

.logo {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true");
    background-size: cover;
    width: 80px;
    height: 48px;
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

header ul a {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0px;
}

.banner {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
    height: 840px;
    padding-top: 348px;
    padding-right: 407px;
}

.banner h1 {
    line-height: 92px;
    font-size: 64px;
    text-align: right;
    font-weight: bold;
}

.banner h1 span{
    line-height: 52px;
    font-size: 36px;
    font-weight: normal;
}

.service {
    background-color: #AA06010D;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.service h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 48px;
}

.service ul {
    display: flex;
    justify-content: center;
}

.service ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 15px;
    width: 255px;
}

.service ul li img {
    height: 83px;
    display: block;
    margin-bottom: 24px;
}

.service ul li h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
}

.service ul li p{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.classic-glasses {
    padding-top: 60px;
    padding-bottom: 48px;
    text-align: center;
}

.classic-glasses h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 40px;
}

.classic-glasses ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.classic-glasses-photo {
    display: block;
    width: 635px;
    height: 320px;
}

.classic-glasses .classic-glasses-special {
    flex-direction: row-reverse;
}

.classic-glasses ul li h3 {
    font-style: italic;
    font-size: 48px;
    line-height: 72px;
    color: #AA0601;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.classic-glasses ul li h3 img{
    margin-left: 10px;
    margin-right: 10px;
}

.co-brand-glasses {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}

.co-brand-glasses h2 {
    color: #FFFFFF;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 40px;
}

.co-brand-glasses ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.co-brand-glasses ul li{
    margin: 0 15px;
    width: 540px;
    height: 455px;
}

.co-brand-glasses .doubleA{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true");    
    background-size: cover;
}

.co-brand-glasses .youth{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true");
    background-size: cover;
}

.co-brand-glasses li .background {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.co-brand-glasses h3 {
    color: #AA0601;
    font-size: 72px;
    line-height: 108px;
    font-weight: bold;
}

.customer-recommend {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.customer-recommend h2 {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 40px;
    font-weight: bold;
}

.customer-recommend .customer-recommend-container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.customer-recommend ul li {
    width: 23%;    
    min-height: 460px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    margin: 0 1%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.customer-recommend img {
    height: 256px;
}

.customer-recommend .comment-area {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.customer-recommend p {
    text-align: left;
    color: #000000;
}

.customer-recommend .customer-name {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
}

.customer-recommend .customer-comment {
    font-size: 16px;
    line-height: 24px;
}

.customer-recommend .comment-date {
    font-size: 14px;
    line-height: 21px;
    color: #707070;
}

.contact {
    background-color: #AA06010D;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}

.contact-container {
    width: 730px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #000000;
}

.contact p {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.contact form label {
    display: block;
    text-align: left;
    width: 100%;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
}

.contact form input[type=text], .contact form textarea {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 16px;
    height: 50px;
    border: 1px solid #000000;
    background: transparent;
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;
    color: #000000
}

.contact form textarea {
    height: 136px;
    padding-top: 16px;
}

.contact form input::placeholder, .contact form textarea::placeholder {
    opacity: 0.2;    
}

.agree-area {
    text-align: left;
    margin-bottom: 40px;
}

.contact .label-agree {
    font-size: 16px;
    line-height: 24px;
    display: inline;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}

.contact input[type=checkbox] {
    width: 24px;
    height: 24px;
    display: inline;
    vertical-align: middle;
}

.contact input[type=submit] {
    background-color: #AA0601;
    color: #FFFFFF;
    padding: 16px 143px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border: 0
}

footer {
    background-color: #AA0601;
    padding-top: 32px;
    padding-bottom: 39px;
}

.footer-container {
    width: 1110px;
    margin: 0 auto;
}

footer a, footer h2, footer p{
    color: #FFFFFF;
}

footer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .header .page-link, footer .header .social-media-link {
    display: flex;
}

footer .header .page-link li a{
    font-size: 16px;
    line-height: 24px;
    margin-right: 48px;
}

footer .header .social-media-link li a{
    display: block;
    width: 48px;
    height: 48px;
    margin-left: 32px;
}

.link-facebook {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/logo-facebook.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.link-instagram {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/logo-instagram.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFFFFF;
    border-radius: 30%;
}

.link-line {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-line.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer .footer-container .body {
    padding: 24px 0;
    border-bottom: #FFFFFF 1px solid;
}

footer .footer-container .body a {
    font-size: 36px;
    line-height: 54px;
    vertical-align: middle;
}

.footer-phone-icon {
    display: inline-block;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
    margin-right: 22px;
    vertical-align: middle;
}

.footer-email-icon {
    display: inline-block;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/102c91f7b3d8e08005073f54b3283b09a18dc427/week3/icon-mail.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
    margin-right: 22px;
    vertical-align: middle;
}

footer .footer-container .footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

footer .footer-container .footer p{
    font-size: 16px;
    line-height: 24px;
}

footer .footer-container .footer ul {
    display: flex;
}

footer .footer-container .footer ul li a{
    margin-left: 48px;
    font-size: 14px;
    line-height: 21px;
}

/* vertical-tablet */
@media (max-width: 768px) {
    header {
        padding: 30px;
    }

    .banner {
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true");
        padding-top: 372px;
        padding-right: 43px;
    }

    .banner h1 {
        line-height: 72px;
        font-size: 48px;
    }

    .banner h1 span{
        line-height: 30px;
        font-size: 20px;
    }

    .service {
        padding-top: 40px;
        padding-bottom: 36px;
    }

    .service h2 {
        font-size: 32px;
        line-height: 48px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .service ul {
        flex-wrap: wrap;
    }

    .service ul li {
        margin: 20px 50px;
    }

    .service ul li img {
        margin-bottom: 27px;
    }

    .classic-glasses {
        padding-top: 40px;
        padding-bottom: 48px;
    }

    .classic-glasses h2 {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }

    .classic-glasses ul {
        padding-left: 39px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .classic-glasses ul li {
        margin-bottom: 8px;
    }

    .classic-glasses-photo {
        width: 390px;
        height: 168px;
    }

    .classic-glasses .classic-glasses-special {
        flex-direction: row;
    }

    .classic-glasses ul li h3 {
        font-size: 28px;
        line-height: 72px;
    }

    .classic-glasses ul li h3 img{
        margin-left: 0;
    }

    .co-brand-glasses {
        padding-top: 40px;
        padding-bottom: 56px;
    }
    
    .co-brand-glasses h2 {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 32px;
    }

    .co-brand-glasses ul li{
        width: 330px;
        height: 278px;
    }

    .co-brand-glasses h3 {
        font-size: 25px;
        line-height: 32px;
    }

    .customer-recommend {
        padding-top: 40px;
        padding-bottom: 24px;
    }

    .customer-recommend .customer-recommend-container {  
        width: 100%;      
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .customer-recommend ul li {
        width: 45%;
        margin: 0 1%;
        box-sizing: content-box;
        margin-bottom: 32px;
    }
    
    .contact {
        padding-top: 40px;
        padding-bottom: 66px;
    }

    .contact-container {
        width: 450px;
    }
    
    .contact h2 {
        font-size: 32px;
        line-height: 48px;
    }

    .contact p {
        color: #000000;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .contact form label {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 3px;
    }

    .contact form input[type=text], .contact form textarea {
        margin-bottom: 8px;
        height: 36px;
        font-size: 14px;
        line-height: 21px;
        padding-left: 12px;
    }

    .contact form textarea {
        height: 100px;
        padding-top: 8px;
        margin-bottom: 9px;
    }

    .agree-area {
        margin-bottom: 30px;
        display: flex;
    }
    
    .contact .label-agree {
        font-size: 14px;
        line-height: 21px;
    }
    
    .contact input[type=checkbox] {
        width: 17px;
        height: 17px;
    }

    .contact input[type=submit] {
        padding: 10px 77px;
        font-size: 14px;
        line-height: 21px;
    }

    footer {
        padding-bottom: 21px;
    }

    .footer-container {
        width: 90%;
    }

    footer .header .page-link li a{
        margin-right: 40px;
    }

    footer .header .social-media-link li a{
        display: block;
        width: 24px;
        height: 24px;
        margin-left: 24px;
    }
    
    footer .footer-container .body {
        padding: 18px 0;
    }

    footer .footer-container .body a {
        font-size: 20px;
        line-height: 30px;
    }
    
    .footer-phone-icon {
        width: 18px;
        height: 18px;
        margin-right: 11px;
    }
    
    .footer-email-icon {
        width: 18px;
        height: 18px;
        margin-right: 11px;
    }

    footer .footer-container .footer {
        margin-top: 16px;
    }

    footer .footer-container .footer ul li a{
        margin-left: 24px;
    }
}

/* phone */
@media (max-width: 375px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }

    .logo {
        display: block;
        width: 48px;
        height: 29px;
        margin: 10px 0;
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
    }

    header ul li{
        width: 50%;
        text-align: center;
        border: #FFFFFF 1px solid;
        padding: 8px 0px;
    }

    .banner {
        height: 394px;
        padding-top: 164px;
        padding-right: 15px;
        background-size: cover;
    }

    .banner h1 {
        line-height: 45px;
        font-size: 32px;
    }
    
    .banner h1 span{
        line-height: 30px;
        font-size: 16px;
    }

    .service {
        padding-top: 32px;
        padding-bottom: 0;
    }

    .service h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 28px;
    }

    .service ul li {
        margin-top: 0;
        margin-bottom: 40px;
    }
    
    .classic-glasses {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .classic-glasses-photo {
        display: none;
    }

    .classic-glasses ul {
        padding: 0;
        display: flex;
        align-items: center;
    }

    .classic-glasses ul li h3 {
        font-size: 28px;
        line-height: 37px;
    }

    .classic-glasses ul li {
        width: 345px;
        height: 134px;
    }
    
    .classic-glasses-optical {
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-1.png?raw=true");
        background-size: cover;
    }

    .classic-glasses-sunglesses {
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-2.png?raw=true");
        background-size: cover;
    }

    .classic-glasses-functional {
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-3.png?raw=true");
        background-size: cover;
    }
    
    .co-brand-glasses {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .co-brand-glasses h2 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .co-brand-glasses ul {
        flex-wrap: wrap;
    }

    .co-brand-glasses ul li{
        margin-bottom: 16px;
    }

    .customer-recommend {
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .customer-recommend h2 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 0px;
    }
    
    .customer-recommend ul li {
        width: 100%;    
        min-height: 460px;
        margin: 16px 15px;
    }

    .contact {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .contact-container {
        width: 345px;
    }

    .contact h2 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .contact p {
        margin-bottom: 8px;
    }

    .contact input[type=submit] {
        padding: 8px 54px;
    }

    footer {
        padding-bottom: 24px;
        padding-top: 0;
    }

    footer .header {
        justify-content: flex-end;
        position: relative;
    }

    footer .header .page-link{
        display: none;
    }

    footer .header .social-media-link{
        position: absolute;
        top: 18px;
    }

    footer .footer-container .body a {
        font-size: 16px;
        line-height: 21px;
    }

    .footer-phone-icon {
        width: 15px;
        height: 15px;
        margin-right: 6px;
    }
    
    .footer-email-icon {
        width: 15px;
        height: 15px;
        margin-right: 6px;
    }

    footer .footer-container .footer {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
    }

    footer .footer-container .footer p{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
    }

    footer .footer-container .footer ul {
        flex-direction: column;
    }
    
    footer .footer-container .footer ul li {
        margin-bottom: 8px;
    }

    footer .footer-container .footer ul li a{
        margin-left: 0;
        margin-bottom: 8px;
    }
    

}
